* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

/* Logo */

.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7.9rem;
    padding: 0 20px;
}

.logo :hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.header .logo {
    margin-right: auto;
}
.header .logo img {
    height: 6rem;
    width: auto;
}
/* Fin logo */

/* Barra de navegacion */
.header {
    height: 10rem;
}

.header .enlaces li {
    display: inline-block;
    padding: 0 20px;
}

.header .enlaces a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.enlaces {
    margin-bottom: auto;
}
/* Fin barra de navegacion */

/* Menu hamburguesa*/

.container-fluid {
    display: flex;
    justify-content: end;
    background-color: black;
}

.navbar-toggler {
    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color: black;
}

.nav-dark {
    background-color: black;
}

/* Fin segunda barra de navegacion */

.principal {
    background-color: rgb(59, 59, 59);
}

.titulo {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

/* Primer section */

.d-block {
    width: 70rem;
    height: 34.4rem;
}

.col-12 {
    font-size: 1.1rem;
    color: white;
}

/* Fin primer section */

/* Footer */
.redes {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}

.redesSociales {
    display: flex;
    justify-content: center;
    background-color: black;
}

.redesSociales i{
    font-size: 2rem;
    padding: 10px 20px;
    height: 9.2vh;
}

.redesSociales i :hover {
    transform: rotate(360deg);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.instagram {
    width: 2.3rem;
}

.spotify {
    width: 2.3rem;
}

.youtube {
    width: 2.3rem;
}

.derechos {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    height: 6.2rem;
    margin-bottom: 0;
}
/* Fin footer */

/* Integrantes */

/* Contenedor */
.container-fluid-dos {
    display: flex;
    justify-content: space-around;
}

/* Imagenes integrantes */
.cardimg1 {
    width: 100%;
    height: 22.4rem;
}

.cardImg2 {
    width: 100%;
    height: 24.1rem;
}

.cardImg3 {
    width: 100%;
    height: 24.1rem;
}

.cardImg4 {
    width: 100%;
    height: 24.1rem;
}

.cardImg5 {
    width: 100%;
    height: 24.1rem;
}

.card {
    background-color: rgb(59, 59, 59);
    border: 0px rgb(0, 0, 0) solid;
}

.cardText {
    color: white;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
/* Fin imagenes de instegrantes */
/* Fin integrantes */

/* Discografia */


/* Titulos de discos */

.contenedor3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 6%;
    grid-gap: 3rem;
    justify-content: space-evenly;
}

.contenedor3 {
    display: flex;
    flex-wrap: wrap;
}

.tituloAlbum1 {
    color: white;
    margin: 0px 10px;
    font-size: 1.2rem;
    text-align: center;
}

.tituloAlbum2 {
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    text-align: center;
}

.tituloAlbum3 {
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    text-align: center;
}

.tituloAlbum4 {
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    text-align: center;
}

.tituloAlbum5 {
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    text-align: center;
}

.tituloAlbum6 {
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    text-align: center;
}

.tituloAlbum7 {
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    text-align: center;
}

/* Fin titulo de discos */

/* Imagenes de discos */

.imagen1 {
    width: 25rem;
    height: 20rem;
}

.imagen2 {
    width: 25rem;
    height: 20rem;
}

.imagen3 {
    width: 25rem;
    height: 20rem;
}

.imagen4 {
    width: 25rem;
    height: 20rem;
}

.imagen5 {
    width: 25rem;
    height: 20rem;
}

.imagen6 {
    width: 25rem;
    height: 20rem;
}

.imagen7 {
    width: 25rem;
    height: 20rem;
    margin-bottom: 1rem;
}

/* Fin imagen de discos */
/* Fin discografia */


/* Conciertos */

.contenedor4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
}

.contenedor4 {
    display: flex;
    flex-wrap: wrap;
}
.imagenConcierto1 {
    height: 26.5rem;
}

.imagenConcierto2 {
    height: 26.5rem;
    margin-right: 30px;
}

.imagenConcierto3 {
    height: 26.5rem;
}

.concierto {
    color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.conciertoCenter {
    color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
    margin-right: 5rem;
}

.ubicacion {
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.ubicacionCenter {
    color: white;
    margin-top: 1rem;
    text-align: center;
    margin-right: 4rem;
}

.fecha {
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.fechaCenter {
    color: white;
    margin-top: 1rem;
    text-align: center;
    margin-right: 4rem;
}

.compraUno {
    margin: 20px 100px;
}

.compraDos {
    margin: 20px 100px;
}

.compraTres {
    margin: 20px 100px;
}

.boton {
    margin-left: 3rem;
}

.botonCenter{
    margin-left: 1rem;
}

.boton:hover {
    background-color: rgb(155, 155, 155);
}


/* Contactanos */
.principalContactanos {
    height: 80vh;
    background-color: rgb(59, 59, 59);
}

.novedades {
    color: white;
    text-align: center;
    margin-top: 3rem;
}

form {
    display: grid;
}

fieldset {
    text-align: center;
    display: grid;
    justify-items: center;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
}

.textosFieldset {
    color: rgb(255, 255, 255);
    margin: auto;
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}

.tamaño {
    font-size: 1.3rem;
    margin: 10px;
}

label {
    display: block;
}

input {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: none;
    width: 20rem;
    height: 2rem;
    text-align: center;
}

.enviar {
    margin: 20px 10px;
}

input::placeholder {
    padding-left: auto;
}

.botonEnviar:hover {
    background-color: rgb(155, 155, 155);
}

/* Fin contactanos */

/* Medias */

/* Pagina principal - contenedor */

@media screen and (max-width: 376px){
    .derechos {
        height: auto;
    }
}
@media screen and (max-width: 425px){
    .titulo {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 375px){
    .titulo {
        font-size: 2.1rem;
    }
}
@media screen and (max-width: 320px){
    .titulo {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 575px){
    .header .logo{
        display: none;
    }
    .header .enlace ul {
        text-align: center;
    }
}

@media screen and (max-width: 1242px){
    nav {
        display: none;
    }
}

@media screen and (min-width: 1241px){
    .container-fluid {
        display: none;}
}

@media screen and (max-width: 768px){
    .header .enlaces a {
        font-size: 1.3rem;;
    }
}

@media screen and (min-width: 320px){
    input {
        width: 18rem;
    }
}


/* Imagenes discografia */
@media screen and (max-width: 320px){
    .imagen1 {
        width: 18rem;
        height: 16rem;
        margin-left: 10px;
    }
}

@media screen and (max-width: 320px){
    .imagen2 {
        width: 18rem;
        height: 16rem;
    }
}

@media screen and (max-width: 320px){
    .imagen3 {
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width: 320px){
    .imagen4 {
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width: 320px){
    .imagen5 {
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width: 320px){
    .imagen6 {
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width: 320px){
    .imagen7 {
        width: 18rem;
        height: 18rem;
    }
}

/* Concieto */
@media screen and (max-width: 1232px){
    .compraUno {
        margin-left: 7rem;
    }
}

@media screen and (max-width: 1173px){
    .compraDos {
        margin-left: 8rem;
    }
    .conciertoCenter, .ubicacionCenter, .fechaCenter {
        margin-right: 0;
    }
}

@media screen and (max-width: 1173px){
    .compraTres {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 425px){
    .contenedor4 {
        display: grid;
        justify-content: space-between;
    }
    .contenedor4 {
        display: flex;
        justify-content: center;
    }
    .imagenConcierto1, .imagenConcierto2, .imagenConcierto3{
        width: 90%;
    }
    .concierto, .conciertoCenter{
        font-size: 10px;
    }
    
    .boton, .botonCenter{
        margin-left: auto;
        width: 16rem;
    }
}