* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

/* Logo */

.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7.9rem;
    padding: 0 20px;
}

.logo :hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.header .logo {
    margin-right: auto;
}
.header .logo img {
    height: 6rem;
    width: auto;
}
/* Fin logo */

/* Barra de navegacion */
.header {
    height: 10rem;
}

.header .enlaces li {
    display: inline-block;
    padding: 0 20px;
}

.header .enlaces a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.enlaces {
    margin-bottom: auto;
}
/* Fin barra de navegacion */

.principal {
    background-color: rgb(59, 59, 59);
}

.titulo {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

/* Primer section */

.d-block {
    width: 70rem;
    height: 34.4rem;
}

.col-12 {
    font-size: 1.1rem;
    color: white;
}

/* Fin primer section */

/* Footer */
.redes {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}

.redesSociales {
    display: flex;
    justify-content: center;
    background-color: black;
}

.redesSociales i{
    font-size: 2rem;
    padding: 10px 20px;
    height: 9.2vh;
}

.redesSociales i :hover {
    transform: rotate(360deg);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.instagram {
    width: 2.3rem;
}

.spotify {
    width: 2.3rem;
}

.youtube {
    width: 2.3rem;
}

.derechos {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    height: 4.3rem;
}
/* Fin footer */

/* Integrantes */

/* Contenedor */
.container-fluid {
    display: flex;
    justify-content: space-around;
}

/* Imagenes integrantes */
.cardimg1 {
    width: 100%;
    height: 22.4rem;
}

.cardImg2 {
    width: 100%;
    height: 24.1rem;
}

.cardImg3 {
    width: 100%;
    height: 24.1rem;
}

.cardImg4 {
    width: 100%;
    height: 24.1rem;
}

.cardImg5 {
    width: 100%;
    height: 24.1rem;
}

.card {
    background-color: rgb(59, 59, 59);
    border: 0px rgb(0, 0, 0) solid;
}

.cardText {
    color: white;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
/* Fin imagenes de instegrantes */
/* Fin integrantes */

/* Discografia */


/* Titulos de discos */

.contenedor3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 6%;
    grid-gap: 3rem;
    justify-content: space-evenly;
}

.contenedor3 {
    display: flex;
    flex-wrap: wrap;
}

.tituloAlbum1 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.tituloAlbum2 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.tituloAlbum3 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.tituloAlbum4 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.tituloAlbum5 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.tituloAlbum6 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.tituloAlbum7 {
    color: white;
    margin: 0px 10px;
    font-size: 1.4rem;
    text-align: center;
}

/* Fin titulo de discos */

/* Imagenes de discos */

.imagen1 {
    width: 25rem;
    height: 20rem;
}

.imagen2 {
    width: 25rem;
    height: 20rem;
}

.imagen3 {
    width: 25rem;
    height: 20rem;
}

.imagen4 {
    width: 25rem;
    height: 20rem;
}

.imagen5 {
    width: 25rem;
    height: 20rem;
}

.imagen6 {
    width: 25rem;
    height: 20rem;
}

.imagen7 {
    width: 25rem;
    height: 20rem;
}

/* Fin imagen de discos */
/* Fin discografia */


/* Conciertos */

.concierto1 {
    border: 3px solid black;
    margin: 10px 0px;
}

.concierto2 {
    border: 3px solid black;
    margin: 10px 0px;
}

.concierto3 {
    border: 3px solid black;
}


/* Imagen conciertos */

.imagenConcierto1 {
    width: 15rem;
    height: 10rem;
}

.imagenConcierto2 {
    width: 15rem;
    height: 10rem;
}

.imagenConcierto3 {
    width: 15rem;
    height: 10rem;
}

/* Fin imagen conciertos */

/* Estadio informacion */

.conciertoPrague {
    color: white;
}

.conciertoLisboa {
    color: white;
}

.conciertoVoa {
    color: white;
}

/* Estadio informacion */

/* Ubicacion del concierto */
.ubicacion1 {
    color: white;
}

.ubicacion2 {
    color: white;
}

.ubicacion3 {
    color: white;
}

/* Fin ubicacion del concierto */

/* Horario del concierto */
.horario1 {
    color: white;
}

.horario2 {
    color: white;
}

.horario3 {
    color: white;
}

/* Fin horario concierto */

/* Precios */

.precio1 {
    color: white;
}

.precio2 {
    color: white;
}

.precio3 {
    color: white;
}

/* Fin precios */

/* Botones de compra */
.botonDeCompra1 {
    color: white;
    text-decoration: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 2px solid white;
    padding: 0px 20px;
}


.botonDeCompra2 {
    color: white;
    text-decoration: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 2px solid white;
    padding: 0px 20px;
}

.botonDeCompra3 {
    color: white;
    text-decoration: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 2px solid white;
    padding: 0px 20px;
}

/* Fin botones de compra */

/* Contactanos */

.novedades {
    color: white;
}

.contorno {
    color: white;
    margin: 0px 50px;
}

.nombre {
    margin: 10px 10px;
}

.apellido {
    margin: 10px 10px;
}

.email {
    margin: 10px 10px;
}

.celular {
    margin: 10px 10px;
}

.enviar {
    margin: 10px 10px;
}

.borrar {
    margin: 10px 10px;
}

/* Fin contactanos */


/* Medias */

/* Pagina principal - contenedor */
@media screen and (max-width: 425px){
    .titulo {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 375px){
    .titulo {
        font-size: 2.1rem;
    }
}
@media screen and (max-width: 320px){
    .titulo {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 465px){
    .header .logo{
        display: none;
    }
    .header .enlace ul {
        text-align: center;
    }
}
/* Fin pagina principal - contenedor */

/* Tercera pagina */

@media screen and (max-width: 1024px){
    .contenedor3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
    }
}

/* Imagenes discos */

@media screen and (max-width: 375px){
    .imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6, .imagen7 {
        width: 300px;
    }
}

@media screen and (max-width: 375px){
    .imagen1 {
        margin-left: 2.2rem;
    }
}

@media screen and (max-width: 320px){
    .imagen1 {
        margin-left: 0.5rem;
    }
}
/* fin imagenes discos */
@media screen and (max-width: 425px){
    .row {
        justify-content: center;
    }
}

@media screen and (max-width: 375px){
    .row {
        justify-content: center;
    }
}

@media screen and (max-width: 320px){
    .row {
        justify-content: center;
    }
}

/* Fin tercera pagina */